<div class="section">
  <main>
    <div class="main-container">
      <section class="demo-container md-whiteframe-z1">
        <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions blue">
          <div class="md-toolbar-tools">
            <h3 class="ng-binding ng-isolate-scope"><a class="docs-anchor ng-scope">{{M.HEADING_LOGIN}}</a></h3>
            <span flex="" class="flex"></span>
          </div>
        </md-toolbar>
        <md-content layout-padding class="layout-padding _md">
          <!--<div ng-include src="getTemplate('edit')"></div>-->
          <form autocomplete="off" name="forms.loginForm" ng-submit="login()">
          	<input id="usernamefake" style="display:none" type="email" name="fakeusernameremembered">
			<input id="passwordfake" style="display:none" type="password" name="fakepasswordremembered">
			<div>
				<md-input-container class="md-block">
	              <label for="email">{{M.FIELD_EMAIL_ENTER}}:</label>
	              <input autocomplete="npne" id="email" name="email" type="email" class="validate" ng-model="email" readonly onfocus="this.removeAttribute('readonly');" required>
	              <div ng-messages="forms.loginForm.email.$error" ng-show="forms.loginForm.email.$dirty">
	                <div ng-message="required">{{M.REQUIRED}}</div>
	                <div ng-message="email">{{M.INVALID_EMAIL}}</div>
	              </div>
	            </md-input-container>
			</div>
            
			<div>
				<md-input-container class="md-block">
	              <label for="password">{{M.FIELD_PASSWORD_ENTER}}:</label>
	              <input autocomplete="none" id="password" name="password" type="password" class="validate" ng-model="password" readonly onfocus="this.removeAttribute('readonly');" required>
	              <div ng-messages="forms.loginForm.password.$error" ng-show="forms.loginForm.password.$dirty">
	                <div ng-message="required">{{M.REQUIRED}}</div>
	              </div>
	            </md-input-container>
			</div>
            

            <div class='row'>
              <button type='submit' name='btn_login' class='btn waves-effect blue'>{{M.BTN_LOGIN}}</button>
              &nbsp;<spinner/>
              <p class="small col-red" ng-if="error">{{error}}</p>
            </div>

            <div class='row'>
              <label style='float: right;text-decoration: underline'>
							<a class='blue-text' href='#!forgot-password'><b>{{M.LNK_FORGOT_PASSWORD}}</b></a>
						</label>
              <p style="float: right">&nbsp;</p>
              <label ng-if="S.openRegistration" style='float: right;text-decoration: underline'>
							<a class='blue-text' href='#!register'><b>{{M.LNK_REGISTER}}</b></a>
						</label>
            </div>
          </form>
        </md-content>
      </section>
  </main>
</div>
